body {
    background-color: #023f66;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

.banner {
    position: relative;
    background-image: url('../img/banner_fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 170px;
    overflow: visible;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    border: 3px solid #004080;
}

        .logo {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            height: 120px;
        }

        .monster-left {
            position: absolute;
            left: -18px;
            bottom: 0;
            height: 170px;
            z-index: 2;
        }

        .monster-right {
            position: absolute;
            right: -40px;
            bottom: -20px;
            height: 230px;
            z-index: 2;
        }

        .btn-area {
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            z-index: 4;
        }

        .btn-custom {
            background: linear-gradient(to bottom, #ff9900, #cc3300);
            color: white;
            border-radius: 20px;
            border: none;
            padding: 5px 25px;
            font-weight: bold;
            font-style: italic;
            font-size: 18px;
            box-shadow: 2px 2px 4px #00000080;
        }

        .container {
            max-width: 1020px;
        }

        .sidebar {
            background-color: #0a5a90;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px 5px;
            text-align: center;
        }

        .sidebar h5 {
            color: #fff;
            padding: 6px 15px;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #0c6ca2;
            margin-bottom: 10px;
            text-align: center;
        }

        .menu a {
            display: block;
            padding: 6px 15px;
            color: #ffffff;
            font-size: 13px;
            border-bottom: 1px solid #0c6ca2;
            text-decoration: none;
            transition: background-color 0.2s;
        }

        .menu a:last-child {
            border-bottom: none;
        }

        .menu a:hover {
            background-color: #0c6ca2;
        }

        .highscore-wrapper {
            background-color: #0a5a90;
            border-radius: 10px;
            padding: 10px;
        }

        .highscore-wrapper table {
            width: 100%;
            color: #fff;
            font-size: 12px;
            table-layout: fixed;
        }

        .highscore-wrapper th,
        .highscore-wrapper td {
            text-align: center;
            padding: 4px;
            word-wrap: break-word;
        }

        .highscore-wrapper thead th {
            border-bottom: 1px solid #0c6ca2;
            font-weight: bold;
            font-size: 13px;
        }

        .form-select-sm {
            font-size: 12px;
            padding: 5px 10px;
            margin-top: 8px;
            width: 100%;
        }

        .content {
            background-color: #e8eff7;
            color: #000;
            border-radius: 10px;
            /* padding: 20px; */
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 3px solid #0c6ca2;
            text-align: justify;
            font-size: 0.9rem;
        }

        .content h2 {
            /* background-color: #0c6ca2; */
            background: linear-gradient(to bottom, #0c6ca2, #e8eff7);
            color: #0b4668;
            padding: 10px;
            border-radius: 0;
            font-size: 20px;
            margin-left: -20px;
            margin-right: -20px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        .downloads img,
        .screenshots img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 8px;
        }

        .logo-tibiame {
            width: 100%;
            border-radius: 10px;
        }

        .monster-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 0.85rem;
        }

        .monster-table th, .monster-table td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }

        .monster-table th {
            cursor: pointer;
            position: relative;
            background: #d6e6f5;
        }

        .th-content {
            display: inline-flex;
            align-items: center;
            gap: 4px; /* espaço entre o texto e o ícone */
        }

        .sort-icon {
            font-size: 0.75rem;
            color: #666;
        }


        .energy-filter {
            display: none;
            position: absolute;
            background-color: #ffffff;
            border: 1px solid #aaa;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            padding: 5px;
            border-radius: 5px;
            z-index: 100;
        }

        .energy-filter button {
            background: none;
            border: none;
            padding: 5px;
            font-size: 0.85rem;
            cursor: pointer;
            display: block;
            text-align: left;
            width: 100%;
        }

        .monster-img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }

        .icon-small {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-right: 2px;
            margin-top: -3px;
        }

        .loot-img {
            width: auto;
            height: 40px;
            margin: 0 2px;
        }

        /* #filtroTipo {
            padding: 5px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #555;
            border-radius: 6px;
            outline: none;
            transition: border 0.2s, box-shadow 0.2s;
            cursor: pointer;
        }

        #filtroTipo:hover {
            border-color: #888;
        }

        #filtroTipo:focus {
            box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
            border-color: #6666ff;
        }

        #atributoOrdenacao {
            padding: 5px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #555;
            border-radius: 6px;
            outline: none;
            transition: border 0.2s, box-shadow 0.2s;
            cursor: pointer;
        }

        #atributoOrdenacao:hover {
            border-color: #888;
        }

        #atributoOrdenacao:focus {
            box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
            border-color: #6666ff;
        }

        #filtroEnergia {
            padding: 5px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #555;
            border-radius: 6px;
            outline: none;
            transition: border 0.2s, box-shadow 0.2s;
            cursor: pointer;
        }

        #filtroEnergia:hover {
            border-color: #888;
        }

        #filtroEnergia:focus {
            box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
            border-color: #6666ff;
        }

        #filtroRaridade {
            padding: 5px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #555;
            border-radius: 6px;
            outline: none;
            transition: border 0.2s, box-shadow 0.2s;
            cursor: pointer;
        }

        #filtroRaridade:hover {
            border-color: #888;
        }

        #filtroRaridade:focus {
            box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
            border-color: #6666ff;
        } */

        .filtros {
            padding: 5px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            border: 1px solid #555;
            border-radius: 6px;
            outline: none;
            transition: border 0.2s, box-shadow 0.2s;
            cursor: pointer;
        }

        .filtros:hover {
            border-color: #888;
        }

        .filtros:focus {
            box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
            border-color: #6666ff;
        }


